html, body {
   margin:0;
   padding:0;
}
#footer {
    position:fixed;
    right:0;
    bottom:0;
    margin:0;
    width:75%;
    height:75%;
    background:url(images/madewithWindows.gif) no-repeat bottom right;
    background-size:100%;
}